

.playlists {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 100%;
}

.playlist-button {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.title, .card-header {
  text-align: center;
}

.sweet-loading {
  margin-top: 400px;
}


.react-multi-carousel-track {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 800px;
}