#root {
  background-image: url('https://images.unsplash.com/photo-1476136236990-838240be4859?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.playlists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  margin-top: 0px;
  width: 100%;
}

.small-playlists {
  display: flex;
  height: 200px;
  width: 800px;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  margin: -30px 0px 30px 0px;
}

.playlist-button {
  height: 100px;
  width: 100px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.title, .card-header {
  text-align: center;
}

.sweet-loading {
  margin-top: 400px;
  height: 100vh;
}

.carousel-container {
  height: 200px;
  width: 800px;
}

.react-multi-carousel-track {
  display: flex;
  align-items: center;
  height: 200px;
  width: 800px;
}

@media only screen and (max-width: 464px) {
  .carousel-container {
  width: 100px;
  }
  .react-multi-carousel-track {
    width: 100px;
  }
}

.flexcontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.chart-container {
  margin: 10px;
  margin-bottom: 30px;
  padding: 20px 10px;
  box-shadow: 0 0 10px #888888;
  min-width: 500px;
  max-width: 700px;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .track-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
    position: relative;
    div {
      margin: 0 5px;
    }
    .track-position {
      min-width: 30px;
    }
    img{
      max-width: 60px;
    }
    .play-button {
      position: absolute;
      right: 0;
      justify-self: flex-end;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      height: 50px;
      cursor: pointer;
    }
  }
}

.artist-name {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 10px 0px 10px;
}

.info-container {
  display: flex;
  align-items: center;
}

.bio {
  margin: 10px;
}

.artist-image {
  width: 200%;
  margin: 10px;
}

.artist-image img{
  width: 100%;
}

.artist-page {
  width: 800px;
  margin: auto;
  color: white;
}

.heading-1 {
  margin: 10px;
  font-size: 10px;
  text-align: center;
}

.heading-2 {
  margin: 30px 0px 20px 0px;
  font-size: 10px;
  text-align: center;
}

.artist-bio {
  display: flex;
  flex-direction: column;  
  border-bottom: solid 1px lightgrey;
  padding-bottom: 20px;
}

.artist-bio a {
  margin: 10px;
}

.news-container {
  margin: 10px 10px 0px 10px;
}

.news-item {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  position: relative;
}

.text {
  margin-right: 10px;
  width: 650px;
}

.headline {
  font-weight: bold;
}

.article-image {
  width: 100px;
  // align-self: flex-end;
  position: absolute;
  right: 0;
}

.article-image img{
  object-fit: contain;
}

.artist-page a {
  color: white;
}

.artist-page a:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.hero-body {
  background-image: url('https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.home-container {
  margin: -300px 0 0 0;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
}

.navbar {
  background-color: black;
  .is-black {
    border: white solid 1px;
  }
}

.search-input {
  height: 50px;
  width: 800px;
}

.search-button {
  height: 50px;
  width: 150px;
  margin-left: 10px;
}

.search-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-flex {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 40px auto;
  
}

.search-result {
  display: flex;
  align-items: center;
  margin: 10px;
}

.search-header a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.search-header:hover {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.search-pics {
 height: 65px;
 margin: 0 20px;
}