.playlists {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 100%;
}

.playlist-button {
  height: 100px;
  width: 100px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.title, .card-header {
  text-align: center;
}

.sweet-loading {
  margin-top: 400px;
}

.carousel-container {
  height: 200px;
  width: 800px;
}

.react-multi-carousel-track {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 200px;
  width: 800px;
}

.flexcontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chart-container {
  // border: solid 1px black;
  margin: 10px;
  padding: 20px 10px;
  box-shadow: 0 0 10px #888888;
  min-width: 500px;
  max-width: 700px;
  border-radius: 5px;
  font-size: 20px;
  h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .track-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
    position: relative;
    div {
      margin: 0 5px;
    }
    .track-position {
      min-width: 30px;
    }
    img{
      max-width: 60px;
    }
    .play-button {
      position: absolute;
      right: 0;
      justify-self: flex-end;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      height: 50px;
      cursor: pointer;
    }
  }
}

.artist-name {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.info-container {
  display: flex;
  align-items: center;
}

.bio {
  margin: 10px;
}

.artist-image {
  width: 200%;
  margin: 10px;
}

.artist-image img{
  width: 100%;
}

.artist-page {
  width: 800px;
  margin: auto;
}

.heading-1 {
  margin: 10px;
  font-size: 10px;
  text-align: center;
}

.heading-2 {
  margin: 30px 0px 20px 0px;
  font-size: 10px;
  text-align: center;
}

.artist-bio {
  display: flex;
  flex-direction: column;  
  border-bottom: solid 1px lightgrey;
  padding-bottom: 20px;
}

.artist-bio a {
  margin: 10px;
}

.news-container {
  margin: 10px;
}


.news-item {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  position: relative;
}
.text {
  margin-right: 10px;
  width: 650px;
}

.headline {
  font-weight: bold;
}

.article-image {
  width: 100px;
  // align-self: flex-end;
  position: absolute;
  right: 0;
}

.article-image img{
  object-fit: contain;
}